.menu{
    background-color: rgb(239, 242, 243);
    height: 70px;
       
    
}
.heading{
    color: black;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;  
    margin-top: -30px;
}
   
.topmenu{
    float:right;
    padding: 12px;
    font-size: 20px;
    
}
.topmenu a{
    display: block;
    text-decoration: none;
    padding: 0px 10px;
    
}
.button1{
    
    color: rgb(61, 54, 54);
    font-weight: 600;
    justify-content: space-between;
    background-color:hsl(187, 90%, 72%) ;
    width: fit-content;
    border-radius: 10px ;
    outline: none;
    cursor: pointer;
    height: 30px;
}